.cuerpo{
	margin: 0 120px;
	padding: 30px 0;
	.el-json{
		.contenedor{
			float: left;
			width: 18%;		
			margin-right: 2%;	
			margin-bottom:0;
			img{
				max-width: 100%;	
     			height:auto;				
				border-radius: 10px;
			}
			.text-contenedor{
				
			}
		}
	}
}