.cuerpo{
	margin: 0 120px;
	padding: 30px 0;
	.el-json{
		.contenedor{
			float: left;
			width: 18%;		
			margin-right: 2%;	
			margin-bottom:10px;
			img{
				max-width: 100%;	
     			height:auto;				
				border-radius: 10px;
			}
			.text-contenedor{
				margin-bottom: 5px;
				clear: both;
				.likes{
					span{						
						position: relative;
    					left: 60%;
    					margin: 0;
						font-size:10px;
						color: $grisTextos;
						.fa-check{
							font-size: 8px;
							display: inline-block;
						}
					}	

				}
				.titulo{
					h5{
						float: left;
						width: 190px;
						height: auto;
						margin: 0;
						font-size: 14px;
					}
				}
				.description{
					margin-top: 40px;
					font-size: 12px;
				}
				.user{
					span{
						background-color:#ECC2B9;
						padding: 7px 10px;
						border-radius:50%;
						color: #FFF;
						font-weight:700;
						font-size:14px;
						float:left;
						margin-right:5px;
					}
					.name{
						font-weight:700;
						width:60px;
						word-break: break-all;
					}
					p{
						font-size:10px;
						margin-right:5px;
						float:left;
					}
				}
			}
		}
	}
}

.hide{
	display: none;
}

#proyecto-modal{
	background-color: $grisFondo; 
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: scroll;
	z-index: 1200;
	.close{
		color: #7F7F7F; 
		position: absolute;
	    right: 3%;
	    top: 3%;
		font-size: 25px;
		cursor: pointer;
	}
	.caja-modal{
		background-color:#FFF;
		width: 400px;
		height: auto;
		position: relative;
		left:35%;
		margin-top: 50px;
		margin-bottom:50px;
		padding: 20px;
		.iconos-top{
			padding: 0 20px;
			.fa{
				color: $grisIconos;
				display: inline-block;
				margin-right:20px;
			}
			.guardar{
				display:inline-block;
				position: relative;
				left:45%;
				a{
					background-color:$colorbtn;
					padding: 10px;
					color:#FFF;
					text-decoration:none;
					border-radius:6px;
					.fa{
						margin-right:5px;
						color: #FFF;						
					}
				}
			}
		}
		.text-title{
			h4{
				margin: 10px 0;
				color: #404040;
			}
		}
		.img-modal{
			width: 350px;
			height: auto;
			img{
				width: 100%;
				background-size: cover;
				margin:0 20px 20px;
				border-radius: 6px;
			}
		}
		.usuario{
			margin: 20px 10px;
			span{
				background-color:#ECC2B9;
				padding: 7px 10px;
				border-radius:50%;
				color: #FFF;
				font-weight:700;
				font-size:14px;
				float:left;
				margin-right:5px;
			}
			.name{
				font-weight:700;
				word-break: break-all;
			}
			p{
				font-size:10px;
				margin-right:5px;
				float:left;
			}
		}
		.leer{
			a{
				background-color:#EBEBEB;
				color: #626262;
				text-decoration:none;
				border-radius:6px;
				padding: 5px 10px;
				float:right;
			}
		}			
		.descripcion{
			clear: both;			
			p{
				font-size: 12px;
				padding: 20px 15px;
			}
		}
	}
}